#localization 
log4j.logger.ros.localization=INFO,flct,flct_err
#INFO LOG
log4j.appender.flct=org.apache.log4j.DailyRollingFileAppender
log4j.appender.flct.Threshold=INFO
log4j.appender.flct.ImmediateFlush=true
log4j.appender.flct.Append=true
log4j.appender.flct.File=${ROS_LOG_DIR}/localization_info.log
log4j.appender.flct.DatePattern='.'yyyy-MM-dd
log4j.appender.flct.layout=org.apache.log4j.PatternLayout
log4j.appender.flct.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.flct_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.flct_err.Threshold=ERROR
log4j.appender.flct_err.ImmediateFlush=true
log4j.appender.flct_err.Append=true
log4j.appender.flct_err.File=${ROS_LOG_DIR}/localization_err.log
log4j.appender.flct_err.DatePattern='.'yyyy-MM-dd
log4j.appender.flct_err.layout=org.apache.log4j.PatternLayout
log4j.appender.flct_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#can_adapter
log4j.logger.ros.can_adapter=INFO,fcan,fcan_err
#INFO LOG
log4j.appender.fcan=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fcan.Threshold=INFO
log4j.appender.fcan.ImmediateFlush=true
log4j.appender.fcan.Append=true
log4j.appender.fcan.File=${ROS_LOG_DIR}/can_adapter_info.log
log4j.appender.fcan.DatePattern='.'yyyy-MM-dd
log4j.appender.fcan.layout=org.apache.log4j.PatternLayout
log4j.appender.fcan.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fcan_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fcan_err.Threshold=ERROR
log4j.appender.fcan_err.ImmediateFlush=true
log4j.appender.fcan_err.Append=true
log4j.appender.fcan_err.File=${ROS_LOG_DIR}/can_adapter_err.log
log4j.appender.fcan_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fcan_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fcan_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#controller
log4j.logger.ros.controller=INFO,fctrl,fctrl_err
#INFO LOG
log4j.appender.fctrl=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fctrl.Threshold=INFO
log4j.appender.fctrl.ImmediateFlush=true
log4j.appender.fctrl.Append=true
log4j.appender.fctrl.File=${ROS_LOG_DIR}/controller_info.log
log4j.appender.fctrl.DatePattern='.'yyyy-MM-dd
log4j.appender.fctrl.layout=org.apache.log4j.PatternLayout
log4j.appender.fctrl.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fctrl_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fctrl_err.Threshold=ERROR
log4j.appender.fctrl_err.ImmediateFlush=true
log4j.appender.fctrl_err.Append=true
log4j.appender.fctrl_err.File=${ROS_LOG_DIR}/controller_err.log
log4j.appender.fctrl_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fctrl_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fctrl_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#perception
# 1.camera trt_yolov5
log4j.logger.ros.trt_yolov5=INFO,fyolov5,fyolov5_err
#INFO LOG
log4j.appender.fyolov5=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fyolov5.Threshold=INFO
log4j.appender.fyolov5.ImmediateFlush=true
log4j.appender.fyolov5.Append=true
log4j.appender.fyolov5.File=${ROS_LOG_DIR}/trt_yolov5_info.log
log4j.appender.fyolov5.DatePattern='.'yyyy-MM-dd
log4j.appender.fyolov5.layout=org.apache.log4j.PatternLayout
log4j.appender.fyolov5.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fyolov5_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fyolov5_err.Threshold=ERROR
log4j.appender.fyolov5_err.ImmediateFlush=true
log4j.appender.fyolov5_err.Append=true
log4j.appender.fyolov5_err.File=${ROS_LOG_DIR}/trt_yolov5_err.log
log4j.appender.fyolov5_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fyolov5_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fyolov5_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

# 2. lidar 
# 2.1 rs_perceptrion_node (DF)
log4j.logger.ros.rs_perceptrion_node=INFO,frspcp,frspcp_err
#INFO LOG
log4j.appender.frspcp=org.apache.log4j.DailyRollingFileAppender
log4j.appender.frspcp.Threshold=INFO
log4j.appender.frspcp.ImmediateFlush=true
log4j.appender.frspcp.Append=true
log4j.appender.frspcp.File=${ROS_LOG_DIR}/rs_perceptrion_node_info.log
log4j.appender.frspcp.DatePattern='.'yyyy-MM-dd
log4j.appender.frspcp.layout=org.apache.log4j.PatternLayout
log4j.appender.frspcp.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.frspcp_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.frspcp_err.Threshold=ERROR
log4j.appender.frspcp_err.ImmediateFlush=true
log4j.appender.frspcp_err.Append=true
log4j.appender.frspcp_err.File=${ROS_LOG_DIR}/rs_perceptrion_node_err.log
log4j.appender.frspcp_err.DatePattern='.'yyyy-MM-dd
log4j.appender.frspcp_err.layout=org.apache.log4j.PatternLayout
log4j.appender.frspcp_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

# 2.2 perception_lidar (JINLV,WEY,BYD)
log4j.logger.ros.perception_lidar=INFO,fpcpld,fpcpld_err
#INFO LOG
log4j.appender.fpcpld=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fpcpld.Threshold=INFO
log4j.appender.fpcpld.ImmediateFlush=true
log4j.appender.fpcpld.Append=true
log4j.appender.fpcpld.File=${ROS_LOG_DIR}/perception_lidar_info.log
log4j.appender.fpcpld.DatePattern='.'yyyy-MM-dd
log4j.appender.fpcpld.layout=org.apache.log4j.PatternLayout
log4j.appender.fpcpld.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fpcpld_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fpcpld_err.Threshold=ERROR
log4j.appender.fpcpld_err.ImmediateFlush=true
log4j.appender.fpcpld_err.Append=true
log4j.appender.fpcpld_err.File=${ROS_LOG_DIR}/perception_lidar_err.log
log4j.appender.fpcpld_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fpcpld_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fpcpld_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

# 3.fusion perception_fusion
log4j.logger.ros.perception_fusion=INFO,fpcpfs,fpcpfs_err
#INFO LOG
log4j.appender.fpcpfs=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fpcpfs.Threshold=INFO
log4j.appender.fpcpfs.ImmediateFlush=true
log4j.appender.fpcpfs.Append=true
log4j.appender.fpcpfs.File=${ROS_LOG_DIR}/perception_fusion_info.log
log4j.appender.fpcpfs.DatePattern='.'yyyy-MM-dd
log4j.appender.fpcpfs.layout=org.apache.log4j.PatternLayout
log4j.appender.fpcpfs.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fpcpfs_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fpcpfs_err.Threshold=ERROR
log4j.appender.fpcpfs_err.ImmediateFlush=true
log4j.appender.fpcpfs_err.Append=true
log4j.appender.fpcpfs_err.File=${ROS_LOG_DIR}/perception_fusion_err.log
log4j.appender.fpcpfs_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fpcpfs_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fpcpfs_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#telematics
log4j.logger.ros.telematics=INFO,fapp,fapp_err
#INFO LOG
log4j.appender.fapp=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fapp.Threshold=INFO
log4j.appender.fapp.ImmediateFlush=true
log4j.appender.fapp.Append=true
log4j.appender.fapp.File=${ROS_LOG_DIR}/telematics_info.log
log4j.appender.fapp.DatePattern='.'yyyy-MM-dd
log4j.appender.fapp.layout=org.apache.log4j.PatternLayout
log4j.appender.fapp.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fapp_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fapp_err.Threshold=ERROR
log4j.appender.fapp_err.ImmediateFlush=true
log4j.appender.fapp_err.Append=true
log4j.appender.fapp_err.File=${ROS_LOG_DIR}/telematics_err.log
log4j.appender.fapp_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fapp_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fapp_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#local_planning
log4j.logger.ros.local_planning=INFO,fplan,fplan_err
#INFO LOG
log4j.appender.fplan=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fplan.Threshold=INFO
log4j.appender.fplan.ImmediateFlush=true
log4j.appender.fplan.Append=true
log4j.appender.fplan.File=${ROS_LOG_DIR}/local_planning_info.log
log4j.appender.fplan.DatePattern='.'yyyy-MM-dd
log4j.appender.fplan.layout=org.apache.log4j.PatternLayout
log4j.appender.fplan.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fplan_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fplan_err.Threshold=ERROR
log4j.appender.fplan_err.ImmediateFlush=true
log4j.appender.fplan_err.Append=true
log4j.appender.fplan_err.File=${ROS_LOG_DIR}/local_planning_err.log
log4j.appender.fplan_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fplan_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fplan_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#hadmap
log4j.logger.ros.hadmap=INFO,fhd,fhd_err
#INFO LOG
log4j.appender.fhd=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fhd.Threshold=INFO
log4j.appender.fhd.ImmediateFlush=true
log4j.appender.fhd.Append=true
log4j.appender.fhd.File=${ROS_LOG_DIR}/hadmap_info.log
log4j.appender.fhd.DatePattern='.'yyyy-MM-dd
log4j.appender.fhd.layout=org.apache.log4j.PatternLayout
log4j.appender.fhd.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fhd_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fhd_err.Threshold=ERROR
log4j.appender.fhd_err.ImmediateFlush=true
log4j.appender.fhd_err.Append=true
log4j.appender.fhd_err.File=${ROS_LOG_DIR}/hadmap_err.log
log4j.appender.fhd_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fhd_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fhd_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#drivers
# 1.camera drivers_camera
log4j.logger.ros.drivers_camera=INFO,fcam,fcam_err
#INFO LOG
log4j.appender.fcam=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fcam.Threshold=INFO
log4j.appender.fcam.ImmediateFlush=true
log4j.appender.fcam.Append=true
log4j.appender.fcam.File=${ROS_LOG_DIR}/drivers_camera_info.log
log4j.appender.fcam.DatePattern='.'yyyy-MM-dd
log4j.appender.fcam.layout=org.apache.log4j.PatternLayout
log4j.appender.fcam.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fcam_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fcam_err.Threshold=ERROR
log4j.appender.fcam_err.ImmediateFlush=true
log4j.appender.fcam_err.Append=true
log4j.appender.fcam_err.File=${ROS_LOG_DIR}/drivers_camera_err.log
log4j.appender.fcam_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fcam_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fcam_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

# 2 lidar 
# 2.1 drivers_hesai128 (DF)
log4j.logger.ros.drivers_hesai128=INFO,fhesai,fhesai_err
#INFO LOG
log4j.appender.fhesai=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fhesai.Threshold=INFO
log4j.appender.fhesai.ImmediateFlush=true
log4j.appender.fhesai.Append=true
log4j.appender.fhesai.File=${ROS_LOG_DIR}/drivers_hesai128_info.log
log4j.appender.fhesai.DatePattern='.'yyyy-MM-dd
log4j.appender.fhesai.layout=org.apache.log4j.PatternLayout
log4j.appender.fhesai.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fhesai_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fhesai_err.Threshold=ERROR
log4j.appender.fhesai_err.ImmediateFlush=true
log4j.appender.fhesai_err.Append=true
log4j.appender.fhesai_err.File=${ROS_LOG_DIR}/drivers_hesai128_err.log
log4j.appender.fhesai_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fhesai_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fhesai_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

# 2.2 drivers_livox (BYD)
log4j.logger.ros.drivers_livox=INFO,fliv,fliv_err
#INFO LOG
log4j.appender.fliv=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fliv.Threshold=INFO
log4j.appender.fliv.ImmediateFlush=true
log4j.appender.fliv.Append=true
log4j.appender.fliv.File=${ROS_LOG_DIR}/drivers_livox_info.log
log4j.appender.fliv.DatePattern='.'yyyy-MM-dd
log4j.appender.fliv.layout=org.apache.log4j.PatternLayout
log4j.appender.fliv.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fliv_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fliv_err.Threshold=ERROR
log4j.appender.fliv_err.ImmediateFlush=true
log4j.appender.fliv_err.Append=true
log4j.appender.fliv_err.File=${ROS_LOG_DIR}/drivers_livox_err.log
log4j.appender.fliv_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fliv_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fliv_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

# 2.3 drivers_lslidar (JINLV,WEY)
log4j.logger.ros.drivers_lslidar=INFO,fls,fls_err
#INFO LOG
log4j.appender.fls=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fls.Threshold=INFO
log4j.appender.fls.ImmediateFlush=true
log4j.appender.fls.Append=true
log4j.appender.fls.File=${ROS_LOG_DIR}/drivers_lslidar_info.log
log4j.appender.fls.DatePattern='.'yyyy-MM-dd
log4j.appender.fls.layout=org.apache.log4j.PatternLayout
log4j.appender.fls.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fls_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fls_err.Threshold=ERROR
log4j.appender.fls_err.ImmediateFlush=true
log4j.appender.fls_err.Append=true
log4j.appender.fls_err.File=${ROS_LOG_DIR}/drivers_lslidar_err.log
log4j.appender.fls_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fls_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fls_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

# 3.gnss drivers_gnss
log4j.logger.ros.drivers_gnss=INFO,fgnss,fgnss_err
#INFO LOG
log4j.appender.fgnss=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fgnss.Threshold=INFO
log4j.appender.fgnss.ImmediateFlush=true
log4j.appender.fgnss.Append=true
log4j.appender.fgnss.File=${ROS_LOG_DIR}/drivers_gnss_info.log
log4j.appender.fgnss.DatePattern='.'yyyy-MM-dd
log4j.appender.fgnss.layout=org.apache.log4j.PatternLayout
log4j.appender.fgnss.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fgnss_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fgnss_err.Threshold=ERROR
log4j.appender.fgnss_err.ImmediateFlush=true
log4j.appender.fgnss_err.Append=true
log4j.appender.fgnss_err.File=${ROS_LOG_DIR}/drivers_gnss_err.log
log4j.appender.fgnss_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fgnss_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fgnss_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#system_guardian
log4j.logger.ros.guardian=INFO,fgar,fgar_err
#INFO LOG
log4j.appender.fgar=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fgar.Threshold=INFO
log4j.appender.fgar.ImmediateFlush=true
log4j.appender.fgar.Append=true
log4j.appender.fgar.File=${ROS_LOG_DIR}guardian_info.log
log4j.appender.fgar.DatePattern='.'yyyy-MM-dd
log4j.appender.fgar.layout=org.apache.log4j.PatternLayout
log4j.appender.fgar.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fgar_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fgar_err.Threshold=ERROR
log4j.appender.fgar_err.ImmediateFlush=true
log4j.appender.fgar_err.Append=true
log4j.appender.fgar_err.File=${ROS_LOG_DIR}/guardian_err.log
log4j.appender.fgar_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fgar_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fgar_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#track_recorder
log4j.logger.ros.track_recorder=INFO,ftrack,ftrack_err
#INFO LOG
log4j.appender.ftrack=org.apache.log4j.DailyRollingFileAppender
log4j.appender.ftrack.Threshold=INFO
log4j.appender.ftrack.ImmediateFlush=true
log4j.appender.ftrack.Append=true
log4j.appender.ftrack.File=${ROS_LOG_DIR}/track_recorder_info.log
log4j.appender.ftrack.DatePattern='.'yyyy-MM-dd
log4j.appender.ftrack.layout=org.apache.log4j.PatternLayout
log4j.appender.ftrack.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.ftrack_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.ftrack_err.Threshold=ERROR
log4j.appender.ftrack_err.ImmediateFlush=true
log4j.appender.ftrack_err.Append=true
log4j.appender.ftrack_err.File=${ROS_LOG_DIR}/track_recorder_err.log
log4j.appender.ftrack_err.DatePattern='.'yyyy-MM-dd
log4j.appender.ftrack_err.layout=org.apache.log4j.PatternLayout
log4j.appender.ftrack_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#hadmap_engine
log4j.logger.ros.hadmap_engine=INFO,fhdeg,fhdeg_err
#INFO LOG
log4j.appender.fhdeg=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fhdeg.Threshold=INFO
log4j.appender.fhdeg.ImmediateFlush=true
log4j.appender.fhdeg.Append=true
log4j.appender.fhdeg.File=${ROS_LOG_DIR}/hadmap_engine_info.log
log4j.appender.fhdeg.DatePattern='.'yyyy-MM-dd
log4j.appender.fhdeg.layout=org.apache.log4j.PatternLayout
log4j.appender.fhdeg.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %l: %m %n
#ERROR LOG
log4j.appender.fhdeg_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.fhdeg_err.Threshold=ERROR
log4j.appender.fhdeg_err.ImmediateFlush=true
log4j.appender.fhdeg_err.Append=true
log4j.appender.fhdeg_err.File=${ROS_LOG_DIR}/hadmap_engine_err.log
log4j.appender.fhdeg_err.DatePattern='.'yyyy-MM-dd
log4j.appender.fhdeg_err.layout=org.apache.log4j.PatternLayout
log4j.appender.fhdeg_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n

#record_cache
log4j.logger.ros.record_cache=INFO,frcd,frcd_err
#INFO LOG
log4j.appender.frcd=org.apache.log4j.DailyRollingFileAppender
log4j.appender.frcd.Threshold=INFO
log4j.appender.frcd.ImmediateFlush=true
log4j.appender.frcd.Append=true
log4j.appender.frcd.File=${ROS_LOG_DIR}/record_cache_info.log
log4j.appender.frcd.DatePattern='.'yyyy-MM-dd
log4j.appender.frcd.layout=org.apache.log4j.PatternLayout
log4j.appender.frcd.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} %c::%M: %m %n
#ERROR LOG
log4j.appender.frcd_err=org.apache.log4j.DailyRollingFileAppender
log4j.appender.frcd_err.Threshold=ERROR
log4j.appender.frcd_err.ImmediateFlush=true
log4j.appender.frcd_err.Append=true
log4j.appender.frcd_err.File=${ROS_LOG_DIR}/record_cache_err.log
log4j.appender.frcd_err.DatePattern='.'yyyy-MM-dd
log4j.appender.frcd_err.layout=org.apache.log4j.PatternLayout
log4j.appender.frcd_err.layout.ConversionPattern=[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} LWP:%t(%r) %l: %m %n