<?xml version="1.0"?>
<launch>
  <arg name="video_device" default="1" />
  <arg name="config_path" default="$(find drivers_common)/conf"/>
  <arg name="sensor_meta"
    default="$(arg config_path)/sensing.pb.txt" />
  <arg name="frame_id" default="H120-D05270538" />
  <arg name="calibed" default="1" />
  <arg name="undistort" default="0" />
  <group ns="sensor/camera/sensing120">
    <node name="drivers_camera_sensing120" pkg="drivers_camera"
        type="drivers_camera_sensing_node" output="screen" 
        args="--sensor_meta_path=$(arg sensor_meta)">
      <param name="video_device" value="$(arg video_device)" />
      <param name="framerate" value="30"/>
      <param name="camera_frame_id" value="$(arg frame_id)" />
      <param name="image_width" value="1920" />
      <param name="image_height" value="1080" />
      <param name="calibed" value="$(arg calibed)" />
      <param name="undistort" value="$(arg undistort)" />
    </node>
  </group>

</launch>
