<?xml version="1.0"?>
<launch>
  <arg name="config_path" default="$(find config)/vehicle" />
  <arg name="sensor_meta"
    default="$(arg config_path)/sensor/calibrated_sensor.pb.txt" />

  <node name="perception_lidar" ns="/perception/lidar"
    pkg="perception_lidar" type="perception_lidar_node" output="screen"
    args="--stderrthreshold=1 --v=5
          --sensor_meta_path=$(arg sensor_meta) 
          --lidar_segmentation_conf_path=$(arg config_path)/perception/lidar/lidar_segmentation.pb.txt
          --publish_lidar_cluster=true
	  --lidar_input=ch_front;c16_front_left" />
</launch>

