<launch>
  <node name="system_guardian_slave4" pkg="guardian" type="system_guardian.py"  args="$(find config)/vehicle/guardian/system_guardian.json $(find guardian)/rostopic/rostopic.py $(find config)/vehicle/guardian/guardian_config.json /home/mogo/data/vehicle_monitor/vehicle_config.txt"  output="screen"/>
  <param name="rosmachetype" type="string" value="slave4" />
</launch>
