<?xml version="1.0"?>
<launch>
  <include if="$(eval env('D_CAR_TYPE')=='df')" file="$(find controller)/launch/controller_dfe70.launch"/>
  <include if="$(eval env('D_CAR_TYPE')=='jinlv')" file="$(find controller)/launch/controller_jinlv.launch"/>
  <include if="$(eval env('D_CAR_TYPE')=='wey')" file="$(find controller)/launch/controller_vv6.launch"/>
  <include if="$(eval env('D_CAR_TYPE')=='byd')" file="$(find controller)/launch/controller_qinpro.launch"/>
  <include if="$(eval env('D_CAR_TYPE')=='hq')" file="$(find controller)/launch/controller_hqh9.launch"/>
</launch>
