<launch>
  <node pkg="hadmap" type="hadmap_server" name="hadmap_server"  output="screen">	
    <param name="db_file" value="/home/mogo/catkin_ws/src/hadmap/data/map.txt" />
    <param name="traj_file" value="$(find controller_simulator)/testdata/demo_BXY_hl_gov_40km.csv:$(find controller_simulator)/testdata/demo_BXY_gov_wanji_50km.csv" />
    <param name="fps" value="10" />
  </node>
</launch>
