<?xml version="1.0"?>
<launch>
  <node pkg="hadmap" type="hadmap_server" name="hadmap_server"  output="screen">	
    <param name="db_file" value="$(find map_data)/BXY/map.txt" />

    <param name="traj_file" value="$(find map_data)/BXY/demo_bxy_ql_gov_40km_af_loc_bias.csv:$(find map_data)/BXY/BXY_19_7_40km.csv:$(find map_data)/BXY/BXY_7_QL_40km.csv" />
    
    <!-- <param name="traj_file" value="/home/mogo/catkin_ws/src/map_data/shunyi_guozhan/2020-11-8-13-44-27_path.txt" />  -->
        <!-- <param name="traj_file" value="/home/mogo/catkin_ws/src/map_data/shunyi_guozhan/2020-11-8-13-44-27_path_kappa.csv" />  -->

        <!-- <param name="traj_file" value="/home/mogo/catkin_ws/src/map_data/shunyi_guozhan/2020-11-10-13-34-19_path.txt" />  -->



    <!-- <param name="traj_file" value="/home/mogo/catkin_ws/src/map_data/shunyi_guozhan/2020-11-8-14-45-49_path.txt" />  -->
        <!-- <param name="traj_file" value="/home/mogo/catkin_ws/src/map_data/shunyi_guozhan/2020-11-8-15-34-26_path.txt" />   -->
        <!-- <param name="traj_file" value="/home/mogo/catkin_ws/src/map_data/shunyi_guozhan/2020-11-8-16-7-48_path.txt" />   -->


        <!-- <param name="traj_file" value="/home/mogo/catkin_ws/src/map_data/shunyi_guozhan/2020-11-20-11-31-15_path.txt" />   -->
        

	<!--=======-->>

    <!--param name="traj_file" value="$(find controller_simulator)/testdata/demo_bxy_ql_gov_40km_af_loc_bias.csv:$(find controller_simulator)/../../map_data/BXY/BXY_19_7_40km.csv:$(find controller_simulator)/../../map_data/BXY/BXY_7_QL_40km.csv" /-->
    <!-- $(find controller_simulator)/testdata/demo_bxy_ql_gov_40km_af_loc_bias.csv: -->
    <!-->>>>>>> Stashed changes-->
    <param name="fps" value="10" />
    <param name="trajectory_query_distance" value="15" />
    <param name="object_query_distance" value="200" />
  </node>
</launch>
