<launch>
  <node pkg="local_planning" type="local_planning" name="local_planning"  output="screen">	
    <param name="config" value="/home/mogo/catkin_ws/src/system/config/planning_config.txt" />
    <param name="vehicle" value="/home/mogo/catkin_ws/src/system/config/vehicle_config.wey.txt" />
    <param name="obstacles_topic" value="/perception/fusion/obstacles" />
  </node>
</launch>
