<?xml version="1.0"?>
<launch>
  <include if="$(eval env('D_CAR_TYPE')=='jinlv' and env('JINLV_SUBTYPE')=='M1')" file="$(find perception_fusion_mid)/launch/perception_fusion_mid.launch"/>
  <include if="$(eval env('D_CAR_TYPE')=='jinlv' and env('JINLV_SUBTYPE')=='M2')" file="$(find perception_fusion_mid)/launch/perception_fusion_mid.launch"/>
</launch>
