<?xml version="1.0"?>
<launch>
  <arg name="config_path" default="$(find config)/vehicle"/>
  <arg name="sensor_meta"
    default="$(arg config_path)/sensor/calibrated_sensor.pb.txt" />

  <arg name="device_ip" default="192.168.8.201" />
  <arg name="msop_port" default="2370" />
  <arg name="difop_port" default="2371" />
  <arg name="return_mode" default="1" />
  <arg name="degree_mode" value="1"/>
  <arg name="time_synchronization" default="false" />
  <arg name="frame_id" value="c32_front_right" />

  <group ns="sensor/lidar/c32/front_right">
  <node name="c32_right_driver_node" output="screen"
        pkg="drivers_lslidar" type="lslidar_c32_driver_node">
    <param name="device_ip" value="$(arg device_ip)" />
    <param name="msop_port" value="$(arg msop_port)" />
    <param name="difop_port" value="$(arg difop_port)"/>
    <param name="frame_id" value="$(arg frame_id)"/>
    
    <param name="add_multicast" value="false"/>
    <param name="group_ip" value="224.1.1.2"/>
    <param name="rpm" value="600"/>
    <param name="return_mode" value="$(arg return_mode)"/>
    <param name="degree_mode" value="$(arg degree_mode)"/>
    <param name="time_synchronization" value="$(arg time_synchronization)"/>
  </node>

  <node name="c32_right_decoder_node" output="screen"
        pkg="drivers_lslidar" type="lslidar_c32_decoder_node" 
        args="--sensor_meta_path=$(arg sensor_meta)" >
    <param name="min_distance" value="0.3"/>
    <param name="max_distance" value="150.0"/>
    <param name="degree_mode" value="$(arg degree_mode)"/>
    <param name="distance_unit" value="0.4"/>
    <param name="return_mode" value="$(arg return_mode)"/>
    <param name="config_vert" value="true"/>
    <param name="print_vert" value="false"/>

    <param name="scan_start_angle" value="5000" />
    <param name="scan_end_angle" value="36000" />
    
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="scan_num" value="15"/>
    <param name="publish_scan" value="false"/>
    <param name="time_synchronization" value="$(arg time_synchronization)"/>
  </node>
  </group>
  
</launch>
