<?xml version="1.0"?>
<launch>
  <arg name="config_path" default="$(find config)/vehicle"/>
  <arg name="sensor_meta"
    value="$(arg config_path)/sensor/calibrated_sensor.pb.txt " />
  <arg name="obs_enable_hdmap_input" default="true" />

  <node name="perception_fusion_new" ns="/perception/fusion"
    pkg="perception_fusion_new" type="perception_fusion_new_node" output="screen"
    args="--logtostderr=0 --stderrthreshold=0 --v=1
          --sensor_meta_path=$(arg sensor_meta) 
          --multi_sensor_fusion_conf_path=$(arg config_path)/perception/fusion/multi_sensor_fusion_new.pb.txt
          --work_root=$(arg config_path)/../../../perception/" />
</launch>
